---
import { getCollection } from "astro:content";
import AccordionLayout from "../layouts/AccordionLayout.astro";
import * as about from "../pages/about/about.md";
import Card from "./Card.astro";
import ContactCard from "./ContactCard.astro";
const works = await Astro.glob("../pages/works/*.md");

const projects = await getCollection("projects");
const studies = await Astro.glob("../pages/studies/*.md");
const contact = await Astro.glob("../pages/contact/*.md");
---

<div class="join join-vertical gap-1">
  <AccordionLayout title={"About"} icon={"carbon:identification"}>
    <article class="prose text-secondary md:text-justify">
      <Fragment set:html={about.compiledContent()} />
    </article>
  </AccordionLayout>

  <AccordionLayout title={"Work"} icon={"carbon:construction"}>
    {
      works.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            org={{
              url: item.frontmatter.org_url,
              name: item.frontmatter.org_name,
            }}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Studies"} icon={"carbon:education"}>
    {
      studies.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            location={item.frontmatter.location}
            tags={item.frontmatter.tags}
            org={{
              url: item.frontmatter.org_url,
              name: item.frontmatter.org_name,
            }}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Projects"} icon={"carbon:tools"}>
    {
      projects.map(async (item) => {
        return (
          <Card
            title={item.data.title}
            timeframe={item.data.date}
            description={await item.render()}
            links={item.data.links}
            tags={item.data.tags}
            images={item.data.images}
            url_name={"View project"}
          />
        );
      })
    }
  </AccordionLayout>

  <!-- <AccordionLayout title={"Blogs"} icon={"carbon:pen"}>
    {
      blogs.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            url={item.frontmatter.url}
            url_name={item.frontmatter.url_name}
          />
        );
      })
    }
  </AccordionLayout> -->

  <!-- <AccordionLayout title={"Files"} icon={"carbon:volume-file-storage"}>
    <div class="flex justify-center w-full">
      <div
        class="card card-compact card-bordered border-[oklch(var(--s))] w-96 md:w-112 lg:w-128 hover:shadow-lg transition-all"
      >
        <figure>
          <object data={PDF} type="application/pdf" width="100%"></object>
        </figure>
        <div class="card-body">
          <h2 class="card-title">Resume</h2>
          <p>View and download my resume by clicking on the button below</p>
          <div class="card-actions justify-end">
            <a target="_blank" href={PDF}>
              <button class="btn btn-outline">
                <p>Download resume</p>
                <Icon name="carbon:document-pdf" class="w-6 h-6 ml-1" />
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </AccordionLayout> -->

  <AccordionLayout title={"Contact"} icon={"carbon:location-person"}>
    <div class="flex flex-wrap content-around gap-4 justify-center mb-4 mt-3">
      {
        contact.map((item) => {
          return (
            <ContactCard
              url={item.frontmatter.url}
              url_name={item.frontmatter.title}
              icon={item.frontmatter.icon}
            />
          );
        })
      }
    </div>
  </AccordionLayout>
</div>
