---
import { getCollection } from "astro:content";
import AccordionLayout from "../layouts/AccordionLayout.astro";
import * as about from "../pages/about/about.md";
import Card from "./Card.astro";
const works = await Astro.glob("../pages/works/*.md");

const projects = await getCollection("projects");
const studies = await Astro.glob("../pages/studies/*.md");
---

<div class="join join-vertical gap-1">
  <AccordionLayout title={"About"} icon={"carbon:identification"}>
    <article class="prose text-secondary md:text-justify">
      <Fragment set:html={about.compiledContent()} />
    </article>
  </AccordionLayout>

  <AccordionLayout title={"Work"} icon={"carbon:construction"}>
    {
      works.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            org={{
              url: item.frontmatter.org_url,
              name: item.frontmatter.org_name,
            }}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Studies"} icon={"carbon:education"}>
    {
      studies.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            location={item.frontmatter.location}
            tags={item.frontmatter.tags}
            org={{
              url: item.frontmatter.org_url,
              name: item.frontmatter.org_name,
            }}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Projects"} icon={"carbon:tools"}>
    {
      projects.map(async (item) => {
        return (
          <Card
            classList="mb-7"
            title={item.data.title}
            timeframe={item.data.date}
            description={await item.render()}
            links={item.data.links}
            tags={item.data.tags}
            images={item.data.images}
            url_name={"View project"}
          />
        );
      })
    }
  </AccordionLayout>
</div>
