---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import avatar from "/src/images/avatar.png";

import * as about from "../pages/about/about.md";
import ContactCard from "./ContactCard.astro";
import MadeWithAstro from "../components/MadeWithAstro.astro";

const contact = await Astro.glob("../pages/contact/*.md");
---

<div class="my-12 lg:my-36 relative lg:max-w-xs">
  <article class="flex flex-col px-4 lg:px-0 lg:w-full lg:max-w-xs">
    <div
      class="flex-shrink-0 w-20 md:w-24 rounded-full shadow-sm overflow-hidden"
    >
      <Image
        format="webp"
        decoding="async"
        alt="avatar"
        src={avatar}
        width="230"
        height="230"
      />
    </div>

    <div class="flex md:justify-between relative my-3">
      <h1 class="text-4xl font-extrabold tracking-tight md:text-3xl relative">
        {about.frontmatter.name}
      </h1>
    </div>
    <h2 class="text-lg text-secondary mb-1">
      {about.frontmatter.designation}
    </h2>
    <div class="flex">
      <Icon name="carbon:location" class="w-4 h-4 mr-1" />
      <p class="text-sm text-secondary">{about.frontmatter.location}</p>
    </div>
    <div
      class="flex flex-wrap content-between gap-y-6 md:gap-x-3 my-5 mt-8 items-center justify-between lg:justify-start"
    >
      {
        contact.map((item) => {
          return (
            <ContactCard
              url={item.frontmatter.url}
              url_name={item.frontmatter.title}
              icon={item.frontmatter.icon}
            />
          );
        })
      }
    </div>
    <div class="invisible lg:visible lg:mt-12">
      <MadeWithAstro />
    </div>
  </article>
</div>
