---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import avatar from "/src/images/avatar.png";

import * as about from "../pages/about/about.md";
import ContactCard from "./ContactCard.astro";

const contact = await Astro.glob("../pages/contact/*.md");
---

<header class="mx-auto pt-6 pb-2 relative">
  <article
    class="flex flex-col md:flex-col items-center gap-4 w-full max-w-2xl"
  >
    <div
      class="flex-shrink-0 w-20 md:w-24 rounded-full shadow-sm overflow-hidden"
    >
      <Image
        format="webp"
        decoding="async"
        alt="avatar"
        src={avatar}
        width="230"
        height="230"
      />
    </div>

    <div class="text-center">
      <div
        class="flex justify-center md:justify-between items-center mb-2 relative"
      >
        <h1 class="text-3xl font-extrabold tracking-tight md:text-3xl relative">
          {about.frontmatter.name}
          <div class="absolute top-0 left-full ml-2 -mt-4"></div>
        </h1>
      </div>
      <h2 class="text-lg mb-2 text-secondary">
        {about.frontmatter.designation}
      </h2>
      <div class="flex items-center justify-center mt-1">
        <Icon name="carbon:location" class="w-4 h-4 mr-1" />
        <p class="text-sm text-secondary">{about.frontmatter.location}</p>
      </div>
    </div>
    <div
      class="flex flex-wrap content-around gap-4 md:gap-10 justify-center mb-4 mt-5"
    >
      {
        contact.map((item) => {
          return (
            <ContactCard
              url={item.frontmatter.url}
              url_name={item.frontmatter.title}
              icon={item.frontmatter.icon}
            />
          );
        })
      }
    </div>
  </article>
</header>

<style>
  @media (max-width: 768px) {
    .flex-col.justify-end {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>
