---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import avatar from "/src/images/avatar.png";

import * as about from "../pages/about/about.md";
import ContactCard from "./ContactCard.astro";

const contact = await Astro.glob("../pages/contact/*.md");
---

<div class="py-8 flex flex-col items-start px-6 lg:px-0">
  <div class="flex flex-col justify-start gap-3 lg:max-w-xs">
    <div class="flex-shrink-0 size-20 rounded-full shadow-sm overflow-hidden">
      <Image
        format="webp"
        decoding="async"
        alt="avatar"
        src={avatar}
        width="230"
        height="230"
      />
    </div>

    <h1 class="text-3xl font-extrabold tracking-tight md:text-[26px] relative">
      {about.frontmatter.name}
    </h1>
  </div>
  <h2 class="font-semibold text-lg text-secondary">
    {about.frontmatter.designation}
  </h2>

  <div class="flex text-sm text-secondary my-5">
    <Icon color="currentColor" name="carbon:location" class="w-4 h-4 mr-1" />
    <p>{about.frontmatter.location}</p>
  </div>
  <div
    class="flex lg:flex-wrap gap-1 content-between items-center justify-between"
  >
    {
      contact.map((item) => {
        return (
          <ContactCard
            url={item.frontmatter.url}
            url_name={item.frontmatter.title}
            icon={item.frontmatter.icon}
          />
        );
      })
    }
  </div>
</div>
