---
import ThemeModeSwitch from "./ThemeModeSwitch.astro";

import Card from "./Card.astro";
import ProjectsSection from "./ProjectsSection.astro";

const works = await Astro.glob("../pages/works/*.md");
const studies = await Astro.glob("../pages/studies/*.md");
---

<div role="tablist" class="tabs max-w-[930px] lg:h-dvh">
    <input
        type="radio"
        name="nav-tabs"
        role="tab"
        class="tab"
        aria-label="Work"
        checked
    />
    <div role="tabpanel" class="tab-content">
        {
            works.map((item) => {
                return (
                    <Card
                        title={item.frontmatter.title}
                        timeframe={item.frontmatter.date}
                        description={item.compiledContent()}
                        tags={item.frontmatter.tags}
                        org={{
                            url: item.frontmatter.org_url,
                            name: item.frontmatter.org_name,
                        }}
                        location={item.frontmatter.location}
                    />
                );
            })
        }
    </div>

    <input
        type="radio"
        name="nav-tabs"
        role="tab"
        class="tab"
        aria-label="Education"
    />
    <div role="tabpanel" class="tab-content">
        {
            studies.map((item) => {
                return (
                    <Card
                        title={item.frontmatter.title}
                        timeframe={item.frontmatter.date}
                        location={item.frontmatter.location}
                        tags={item.frontmatter.tags}
                        org={{
                            url: item.frontmatter.org_url,
                            name: item.frontmatter.org_name,
                        }}
                    />
                );
            })
        }
    </div>
    <input
        type="radio"
        name="nav-tabs"
        role="tab"
        class="tab"
        aria-label="Projects"
    />
    <div role="tabpanel" class="tab-content">
        <ProjectsSection />
    </div>
</div>

<ThemeModeSwitch />
<style>
    .tab-content {
        @apply my-5;
        @apply lg:h-[580px];
    }
    .tab {
        @apply btn btn-ghost;
        @apply px-5 lg:px-10;
        @apply me-1 tracking-wide;
        @apply rounded-sm outline-none border-x-0 border-t-0;
        @apply text-base-content !important;
        &:checked {
            @apply bg-transparent !important;
            @apply border-b-[3px];
        }
    }
    ::after.tab {
        @apply text-base;
    }
</style>
